.card {
    background-image: url("/images/deck.png");
    background-size: 1040px auto;
    border-radius: 8px 8px 0 0;
    height: 100%;
    box-shadow: 0 0 3px 0 #808080;
    overflow: hidden;
    width: 72px;
    height: 107px;
}

.card-As {
    background-position: 0.2% 0.5%;
}

.card-Ah {
    background-position: 0.2% 99.3%;
}

.card-Ad {
    background-position: 0.2% 66.5%;
}

.card-Ac {
    background-position: 0.2% 33.3%;
}

.card-Ks {
    background-position: 7.9% 0.5%;
}

.card-Kh {
    background-position: 7.9% 99.3%;
}

.card-Kd {
    background-position: 7.9% 66.5%;
}

.card-Kc {
    background-position: 7.9% 33.3%;
}

.card-Qs {
    background-position: 15.5% 0.5%;
}

.card-Qh {
    background-position: 15.5% 99.3%;
}

.card-Qd {
    background-position: 15.5% 66.5%;
}

.card-Qc {
    background-position: 15.5% 33.3%;
}

.card-Js {
    background-position: 23.2% 0.5%;
}

.card-Jh {
    background-position: 23.2% 99.3%;
}

.card-Jd {
    background-position: 23.2% 66.5%;
}

.card-Jc {
    background-position: 23.2% 33.3%;
}

.card-Ts {
    background-position: 30.9% 0.5%;
}

.card-Th {
    background-position: 30.9% 99.3%;
}

.card-Td {
    background-position: 30.9% 66.5%;
}

.card-Tc {
    background-position: 30.9% 33.3%;
}

.card-9s {
    background-position: 38.6% 0.5%;
}

.card-9h {
    background-position: 38.6% 99.3%;
}

.card-9d {
    background-position: 38.6% 66.5%;
}

.card-9c {
    background-position: 38.6% 33.3%;
}

.card-8s {
    background-position: 46.3% 0.5%;
}

.card-8h {
    background-position: 46.3% 99.3%;
}

.card-8d {
    background-position: 46.3% 66.5%;
}

.card-8c {
    background-position: 46.3% 33.3%;
}

.card-7s {
    background-position: 53.8% 0.5%;
}

.card-7h {
    background-position: 53.8% 99.3%;
}

.card-7d {
    background-position: 53.8% 66.5%;
}

.card-7c {
    background-position: 53.8% 33.3%;
}

.card-6s {
    background-position: 61.5% 0.5%;
}

.card-6h {
    background-position: 61.5% 99.3%;
}

.card-6d {
    background-position: 61.5% 66.5%;
}

.card-6c {
    background-position: 61.5% 33.3%;
}

.card-5s {
    background-position: 69.2% 0.5%;
}

.card-5h {
    background-position: 69.2% 99.3%;
}

.card-5d {
    background-position: 69.2% 66.5%;
}

.card-5c {
    background-position: 69.2% 33.3%;
}

.card-4s {
    background-position: 76.8% 0.5%;
}

.card-4h {
    background-position: 76.8% 99.3%;
}

.card-4d {
    background-position: 76.8% 66.5%;
}

.card-4c {
    background-position: 76.8% 33.3%;
}

.card-3s {
    background-position: 84.5% 0.5%;
}

.card-3h {
    background-position: 84.5% 99.3%;
}

.card-3d {
    background-position: 84.5% 66.5%;
}

.card-3c {
    background-position: 84.5% 33.3%;
}

.card-2s {
    background-position: 92.1% 0.5%;
}

.card-2h {
    background-position: 92.1% 99.3%;
}

.card-2d {
    background-position: 92.1% 66.5%;
}

.card-2c {
    background-position: 92.1% 33.3%;
}

.card-back {
    background-position: 99.8% 33.3%;
}
